// Import plattsoft variables.
@import "_variables";

// Import plattsoft fonts.
@import "_fonts";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/functions";

// 2. Include any default variable overrides here
$primary: $ps-blue;
$secondary: $ps-orange;
$info: $ps-purple;
$dark: $ps-dark;
$light: $ps-light;

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: Hack, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Modify the contrast ratio so bootstrap chooses white to contrast with the
// primary plattsoft blue, instead of black which looks funny.
$min-contrast-ratio: 3;

// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

// 4. Include any optional Bootstrap components as you like
// Configuration
@import "../bootstrap/utilities";

// Layout & components
@import "../bootstrap/root";
@import "../bootstrap/reboot";
@import "../bootstrap/type";
@import "../bootstrap/images";
@import "../bootstrap/containers";
@import "../bootstrap/grid";
@import "../bootstrap/tables";
@import "../bootstrap/forms";
@import "../bootstrap/buttons";
@import "../bootstrap/transitions";
@import "../bootstrap/dropdown";
@import "../bootstrap/button-group";
@import "../bootstrap/nav";
@import "../bootstrap/navbar";
@import "../bootstrap/card";
@import "../bootstrap/accordion";
@import "../bootstrap/breadcrumb";
@import "../bootstrap/pagination";
@import "../bootstrap/badge";
@import "../bootstrap/alert";
@import "../bootstrap/progress";
@import "../bootstrap/list-group";
@import "../bootstrap/close";
@import "../bootstrap/toasts";
@import "../bootstrap/modal";
@import "../bootstrap/tooltip";
@import "../bootstrap/popover";
@import "../bootstrap/carousel";
@import "../bootstrap/spinners";
@import "../bootstrap/offcanvas";
@import "../bootstrap/placeholders";

// Helpers
@import "../bootstrap/helpers";

// Utilities
@import "../bootstrap/utilities/api";


// Body background
.bg-medium {
    background-color: $ps-medium;
}

// Extra border utility classes.
.border-1 {
    border-width: 1px !important;
}

.border-2 {
    border-width: 2px !important;
}

.border-3 {
    border-width: 3px !important;
}
